# Default owners for everything in the repo
* @semaphore-chat/maintainers

# Backend
/backend/ @semaphore-chat/maintainers

# Frontend and Electron
/frontend/ @semaphore-chat/maintainers

# Infrastructure
/helm/ @semaphore-chat/maintainers
/.github/ @semaphore-chat/maintainers
/docker-compose*.yml @semaphore-chat/maintainers

# Documentation
/docs/ @semaphore-chat/maintainers
*.md @semaphore-chat/maintainers
