services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    command: npm run start:dev
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/app/backend
      - ./shared:/app/shared
      - /app/node_modules
      - /app/backend/node_modules
      - /app/shared/node_modules
    working_dir: /app/backend
    depends_on:
      mongo:
        condition: service_healthy
      redis:
        condition: service_healthy

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    ports:
      - "5173:5173"
    environment:
      - NODE_ENV=development
    volumes:
      - ./frontend:/app/frontend
      - ./shared:/app/shared
      - /app/node_modules
      - /app/frontend/node_modules
      - /app/shared/node_modules
      - ./backend:/spec:ro
    working_dir: /app/frontend
    depends_on:
      - backend
      - redis

  mongo:
    image: mongo:7.0
    command: ["--replSet", "rs0", "--bind_ip_all", "--port", "27017"]
    ports:
      - 27017:27017
    healthcheck:
      test: echo "try { rs.status() } catch (err) { rs.initiate({_id:'rs0',members:[{_id:0,host:'mongo:27017'}]}) }" | mongosh --port 27017 --quiet
      interval: 5s
      timeout: 30s
      start_period: 0s
      start_interval: 1s
      retries: 30
    volumes:
      - "mongodata:/data/db"
      - "mongodb_config:/data/configdb"

  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 10s
      retries: 10
    volumes:
      - "redisdata:/data"

volumes:
  pgdata:
  mongodata:
  mongodb_config:
  redisdata:
